go 1.21.6

use (
	./build/tools
	./contracts
	./cosmos
	./e2e/localnet
	./e2e/precompile
	./e2e/testapp
	./eth
	./lib
)

replace github.com/cosmos/cosmos-sdk => github.com/astriaorg/cosmos-sdk v0.50.1-rollkit-v0.5.0-astria
